body{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: aquamarine;
    border-radius: 5px;
    padding: 20px;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

@media  screen and (min-width:850px) {
    body{
        margin: auto;
        position: absolute;
        left: 25%;
        right: 25%;
       
    }
    
    
}
